[submodule "ansible-elasticsearch"]
	path = ansible-elasticsearch
	url = git@github.com:kressh/ansible-elasticsearch.git
[submodule "ansible-elastalert"]
	path = ansible-elastalert
	url = git@github.com:kressh/ansible-elastalert.git
[submodule "ansible-curator"]
	path = ansible-curator
	url = git@github.com:kressh/ansible-curator.git
[submodule "ansible-elastic-beats"]
	path = ansible-elastic-beats
	url = git@github.com:kressh/ansible-elastic-beats.git
[submodule "ansible-redis"]
	path = ansible-redis
	url = git@github.com:kressh/ansible-redis.git
[submodule "ansible-elastic-apm"]
	path = ansible-elastic-apm
	url = git@github.com:kressh/ansible-elastic-apm.git
[submodule "ansible-kibana"]
	path = ansible-kibana
	url = git@github.com:kressh/ansible-kibana.git
[submodule "ansible-fluentd"]
	path = ansible-fluentd
	url = git@github.com:kressh/ansible-fluentd.git
[submodule "ansible-spiped"]
	path = ansible-spiped
	url = git@github.com:kressh/ansible-spiped.git
[submodule "ansible-ubuntu-common"]
	path = ansible-ubuntu-common
	url = git@github.com:kressh/ansible-ubuntu-common.git
[submodule "ansible-postgresql"]
	path = ansible-postgresql
	url = git@github.com:kressh/ansible-postgresql.git
[submodule "ansible-pgbouncer"]
	path = ansible-pgbouncer
	url = git@github.com:kressh/ansible-pgbouncer.git
[submodule "ansible-provision"]
	path = ansible-provision
	url = git@github.com:kressh/ansible-provision.git
[submodule "docker.ubuntu"]
	path = docker.ubuntu
	url = git@github.com:angstwad/docker.ubuntu.git
[submodule "ansible-dante"]
	path = ansible-dante
	url = git@github.com:kressh/ansible-dante.git
[submodule "ansible-squid"]
	path = ansible-squid
	url = git@github.com:kressh/ansible-squid.git
[submodule "ansible-haproxy"]
	path = ansible-haproxy
	url = git@github.com:kressh/ansible-haproxy.git
[submodule "ansible-pgslice"]
	path = ansible-pgslice
	url = git@github.com:kressh/ansible-pgslice.git
[submodule "ansible-jenkins"]
	path = ansible-jenkins
	url = git@github.com:kressh/ansible-jenkins.git
[submodule "ansible-shadowsocks"]
	path = ansible-shadowsocks
	url = git@github.com:kressh/ansible-shadowsocks.git
[submodule "ansible-ssl-sync"]
	path = ansible-ssl-sync
	url = git@github.com:kressh/ansible-ssl-sync.git
[submodule "ansible-letsencrypt"]
	path = ansible-letsencrypt
	url = git@github.com:kressh/ansible-letsencrypt.git
[submodule "ansible-nginx"]
	path = ansible-nginx
	url = git@github.com:kressh/ansible-nginx.git
[submodule "ansible-nginx-proxy"]
	path = ansible-nginx-proxy
	url = git@github.com:kressh/ansible-nginx-proxy.git
[submodule "ansible-minio"]
	path = ansible-minio
	url = git@github.com:kressh/ansible-minio.git
[submodule "ansible-graylog"]
	path = ansible-graylog
	url = git@github.com:kressh/ansible-graylog.git
[submodule "ansible-self-signed-certs"]
	path = ansible-self-signed-certs
	url = git@github.com:kressh/ansible-self-signed-certs.git
